body{
    width: 1280px;
    margin: 20px; 
    padding: 3px;
}
h1, h2, h3{
    font-family: arial, tahoma, sans-serif;
    margin: 10px;
    padding: 10px;
    background: #00ffaf;
    color: black;
    text-align: center;
}   
img{
    display: inline-block;
    height: 250px;
    margin: 8px;
    padding: 3px;
}
dt{
    background: yellow;
    display: block;
    width: 320px;
    margin: 8px auto;
    font-size: 1.2em;  
    text-align: center;
    
}