body {
    max-width: 1280px;
    width: 80%;
    margin: 20px;
    padding: 8px;
}
nav {
    display: inline-block;
}
.fotos{
    display: inline-block;
    height: 280px;
    margin: 10px;
    padding: 3px;
}

dt {
    background: yellow;
    display: block;
    width: 320px;
    margin: 8px;
    font-size: 1.2em;
    text-align: center;

}
dd  {
        font-size: 1.1em; 
        color: e76dc4;   
        text-align: justify;    
        margin: 10px;
        
}

img {
    display: inline-block;
    height: 250px;
    margin: 8px;
    padding: 3px;
}
h1,
h2,
h3 {
    font-family: arial, tahoma, sans-serif;
    margin: 10px;
    padding: 10px;
    background: #00ffaf;
    color: black;
}
p {
    margin: 20px;
    padding: 8px;
    text-align: justify;
}

li{
    color: #620d48;
    font-family: arial, tahoma, sans-serif;
    font-size: 1rem;  
    
    margin: 10px;
    padding: 6px; 
}
